.welcomepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:2;
    color: var(--OFF-BLACK);
    background-color: var(--COLOR-BLACK-ALPHA);
}

.name-input{
    text-align: center;
    font-size: 3.4rem;
    font-weight: 500;
    width: 100%;
    max-width: 40rem;
    padding: 1rem;
    margin: 5px;
    border: 0;
    color: var(--COLOR-TEXT-WHITE);
    background-color: transparent;
    border-bottom: 2px solid var(--COLOR-TEXT-WHITE);
}

.name-input:focus-visible{
    outline: none;
}

.error-text{
    color: var(--GREY);
    padding: 2rem;
    font-size: 2.4rem;
    transition: all 0.5s ease-in;
}